#title{
    border: 2px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    height: 20%;
    overflow: hidden;
}
#main{
    border: 2px solid black;
    border-top: 1px solid black;
    overflow: hidden;
    height: 75%;
    padding: 5%;
}
#ltop{
    width: 20%;
    height: 300px;
    border: 2px solid blue;
    float: left;
}
#tabula{
    width: 50%;
    height: 300px;
    border: 2px solid green;
    float: left;
    overflow-y:scroll;
    align-content: center;
}
table tr th:nth-child(1), table tr td:nth-child(1){
    display:none;
   }
#right{
    float: right;
    border: 2px solid salmon;
}
#mid{
    align-content: center;
}

